.container {
  max-height: 80%;
}

@media (min-width: 640px) {
  .container {
    max-height: 85%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 85%;
  }

  .hero {
    margin-right: -1rem;
    padding-right: 1rem;
  }

  .content {
    max-width: 68%;
  }
}

@media (min-width: 1280px) {
  .content {
    max-width: 75%;
  }
}
